.form{
    z-index: 1;
    position: relative;
    margin: 10px 0 0;
    background: $white;

    @include breakpoint(large) {
        margin: -232px -14px 0;
        padding: 15px 13px;
    }
}

.form-holder-inner{
    padding: 20px;
    background: $light-gray;

    @include breakpoint(medium) {
        padding: 3px 20px 20px;
    }
}

.form-info-tooltip{
    padding: 14px 10px 13px;
    margin: 0 0 30px;
    color: $white;
    font-size: 14px;
    background: $primary-color;
    font-family: $helvetica-neue-light;

    &.form-info-tooltip-center{
        text-align: center;
    }

    strong{
        font-family: $helvetica-neue-bold;
    }

    @include breakpoint(medium) {
        margin: 0 0 61px;
        font-size: 18px;
    }
}

.form-title{
    margin: 0 0 13px;
    font-family: $open-sans-light;
}

.form-row-label{

    @include breakpoint(medium) {
        padding-top: 8px;
    }
}

.form-input-box{
    position: relative;

    &.form-input-box-radio{

        .custom-radio{
            margin: 0 29px 0 0;
        }


        @include breakpoint(medium) {
            padding-top: 12px;
        }
    }

    &.no-valid{

        .form-input{
            box-shadow: 0 0 5px 0 $alert-color inset;
        }
    }

    @include breakpoint(medium) {
        margin: 0 0 0 -14px;
    }
}

.form-row{
    margin-bottom: 14px;

    .form-input{
        margin: 0;
    }

    @include breakpoint(medium) {
        margin-bottom: 28px;
    }
}


.custom-checkbox, .custom-radio{
    position: relative;
    display: inline-block;
    margin: 0;
    padding-left: rem-calc(30);
    cursor: pointer;
    line-height: 1.3;
    word-spacing: 1px;
    font-size: 15px;
    color: $black;

    [type="checkbox"], [type="radio"]{
        display: none;
    }

    [type="checkbox"] + span, [type="radio"] + span{
        display: inline-block;
        vertical-align: middle;

        &::before{
            position: absolute;
            top: 0;
            left: 0;
            content: "";
            width: 20px;
            height: 20px;
            border: 1.5px solid #a4adcf;
            transition: $global-transition;
        }

        @include breakpoint(medium) {
            margin: -4px 0 0;
        }
    }

    [type="radio"] + span{

        &::before{
            width: 20px;
            height: 20px;
            top: 0;
            border-radius: 50%;
            box-shadow: none;
            background: #dfe2ee;

        }
    }

    :checked + span:after{
        position: absolute;
        top: 6px;
        left: 6px;
        content: "";
        width: 8px;
        height: 8px;
        background: $white;
    }

    :checked + span:before{
        box-shadow: none;
    }

    :disabled + span{
        opacity: 0.5;
        cursor: not-allowed;
    }

    @include breakpoint(medium) {
        font-size: 17px;
    }

}

.custom-radio{
    padding-left: 29px;

    :checked + span:after{
        background: #4859a6;
        border-radius: 50%;
        top: 5px;
        left: 5px;
        width: 10px;
        height: 10px;
    }

    @include breakpoint(medium) {
        padding-left: 26px;
    }
}


.submit-button-box{
    padding: 20px 0;
    text-align: center;

    @include breakpoint(medium) {
        padding: 60px 0 30px;
    }
}

.button.submit-button{
    margin: 0;
    background: $orange2;
    background: -moz-linear-gradient(top, $orange2 0%, $orange 100%);
    background: -webkit-linear-gradient(top, $orange2 0%,$orange 100%);
    background: linear-gradient(to bottom, $orange2 0%,$orange 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fd9500', endColorstr='#fd7900',GradientType=0 );
    color: $white;
    font-family: $helvetica-neue-medium;
    font-size: 16px;
    padding: 18px 30px 14px;
    text-transform: uppercase;
    border-radius: 4px;
    transition: $global-transition;

    &:disabled{
        background: $dark-gray3;
        color: $dark-gray2;
        opacity: 1;
        box-shadow: 1px 1px 0 $dark-gray2 inset;

        &:hover{
            background: $dark-gray3;
            color: $dark-gray2;
        }
    }

    &:hover{
        background: -moz-linear-gradient(top, $orange 0%, $orange2 100%);
        background: -webkit-linear-gradient(top, $orange 0%,$orange2 100%);
        background: linear-gradient(to bottom, $orange 0%, $orange2 100%);
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fd7900', endColorstr='#fd9500',GradientType=0 );
    }
}


.error-msg{
    opacity: 0;
    visibility: hidden;
    padding: 8px 0 0 0;
    color: $alert-color;
    font-size: 13px;
    transition: $global-transition;

    .no-valid &{
        opacity: 1;
        visibility: visible;
    }

    &::before{

        @include breakpoint(large) {
            @include vertical-center;
            right: 100%;
            content: "";
            width: 0;
            height: 0;
            border-top: 5px solid transparent;
            border-right: 6px solid $white;
            border-bottom: 5px solid transparent;
        }
    }

    @include breakpoint(large) {
        @include vertical-center;
        width: 100%;
        left: 107%;
        max-width: 285px;
        padding: 8px 19px;
        background: $white;
        border: 1px solid $dark-gray4;
        box-shadow: 0 0 10px 1px $dark-gray4;
    }
}
