.header{
    padding: 36px 0;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top center;

    @include breakpoint(large) {
        min-height: 100vh;
    }
}

.logo-holder{
    margin: 0 0 20px;

    @include breakpoint(medium) {
        margin-bottom: 55px;
    }
}

.intro-text{
    font-family: $open-sans-light;
    color: $white;
    letter-spacing: -1px;
    text-shadow: 1px 0 0 #8d8989;

    h1, h2, h3, h4{
        margin-bottom: 20px;
        font-size: 20px;
        font-family: $open-sans-light;

        @include breakpoint(medium) {
            margin-bottom: 52px;
            font-size: 45px;
        }
    }

    strong{
        font-family: $open-sans-bold;
    }

    ul, ol{
        list-style: none;
        margin: 0;


        li{
            margin-bottom: 5px;
            padding: 0 0 0 12px;
            position: relative;

            &::before{
                position: absolute;
                top: -10px;
                left: -3px;
                content: "•";
                color: $white;
                line-height: 1;
                font-size: 42px;

                @include breakpoint(medium) {
                    top: -3px;
                }
            }

            @include breakpoint(medium) {
                width: 430px;
                margin-bottom: 17px;
                padding: 0 0 0 25px;

                &:nth-child(odd){
                    width: 476px;
                    margin-right: 10px;
                }

            }
        }

        @include breakpoint(medium) {
            @include flex-grid-row(null, 2);
            font-family: $open-sans-regular;
            font-size: 23px;
        }
    }
}

.content{
    padding: 0 0 40px;

    @include breakpoint(medium) {
        padding: 0 0 80px;
    }
}
