$open-sans-light: 'OpenSans-Light', Helvetica, Roboto, Arial, sans-serif;
$open-sans-bold: 'OpenSans-Bold', Helvetica, Roboto, Arial, sans-serif;
$open-sans-regular: 'OpenSans', Helvetica, Roboto, Arial, sans-serif;
$helvetica-neue-bold: 'HelveticaNeueCyr-Bold', Helvetica, Roboto, Arial, sans-serif;
$helvetica-neue-light: 'HelveticaNeueCyr-Light', Helvetica, Roboto, Arial, sans-serif;
$helvetica-neue-medium: 'HelveticaNeueCyr-Medium', Helvetica, Roboto, Arial, sans-serif;


$global-transition: 0.3s;


// Local colors
$dark-gray2: #989898;
$dark-gray3: #d6d6d8;
$dark-gray4: #cbcbcb;
$orange: #fd7900;
$orange2: #fd9500;
