<header class="header" style="background-image: url('assets/img/banner.jpg');">
    <div class="row">
        <div class="column">
            <div class="logo-holder">
                <a href="#" class="logo">
                    <img src="assets/img/logo.png" alt="">
                </a>
            </div>
            <div class="intro-text">
                <h2>Потребительский Кредит от <strong>16.9%</strong></h2>
                <ul>
                    <li>Снижаем ставку на <strong>1%</strong> каждый год </li>
                    <li>Без комиссии, залога и поручителей </li>
                    <li>Оформи за <strong>5</strong> минут </li>
                    <li>Долгосрочное погашение</li>
                </ul>
            </div>
        </div>
    </div>
</header>

<main role="main" class="content">
    <div class="row">
        <div class="column">
            <div class="form">
                <div class="form-holder-inner">
                    <h2 class="form-title">Онлайн заявка</h2>
                    <div class="form-info-tooltip form-info-tooltip-center">Шаг 1 <strong>Эти данные нужны нам, чтобы связаться с вами</strong></div>

                    <form action="#" class="js-form">

                        <div class="form-row row">
                            <div class="column small-12 medium-3">
                                <label class="form-row-label" for="surname">Фамилия</label>
                            </div>
                            <div class="column small-12 medium-5 end">
                                <div class="form-input-box js-form-input-box">
                                    <input type="text" class="form-input" name="surname" id="surname">
                                    <div class="js-error-msg"></div>
                                </div>
                            </div>
                        </div>

                        <div class="form-row row">
                            <div class="column small-12 medium-3">
                                <label class="form-row-label" for="name">Имя</label>
                            </div>
                            <div class="column small-12 medium-5 end">
                                <div class="form-input-box js-form-input-box">
                                    <input type="text" class="form-input" name="name" id="name">
                                    <div class="js-error-msg"></div>
                                </div>
                            </div>
                        </div>

                        <div class="form-row row">
                            <div class="column small-12 medium-3">
                                <label class="form-row-label" for="patronymic">Отчество</label>
                            </div>
                            <div class="column small-12 medium-5 end">
                                <div class="form-input-box js-form-input-box">
                                    <input type="text" class="form-input" name="patronymic" id="patronymic">
                                    <div class="js-error-msg"></div>
                                </div>
                            </div>
                        </div>

                        <div class="form-row row">
                            <div class="column small-12 medium-3">
                                <label class="form-row-label" for="citizenship">Гражданство РФ</label>
                            </div>
                            <div class="column small-12 medium-5 end">
                                <div class="js-form-input-box form-input-box form-input-box-radio">
                                    <label class="custom-radio">
                                        <input checked type="radio" name="citizenship" value="no">
                                        <span>Нет</span>
                                    </label>
                                    <label class="custom-radio">
                                        <input type="radio" name="citizenship" value="yes">
                                        <span>Да</span>
                                    </label>
                                    <div class="js-error-msg"></div>
                                </div>
                            </div>
                        </div>

                        <div class="submit-button-box">
                            <button type="submit" class="button js-submit  submit-button">Отправить заявку</button>
                        </div>

                    </form>

                </div>
            </div>
        </div>
    </div>
</main>
